h1{color:#7BAFD4;}

h2{color:#7BAFD4;}
.navbar.navbar-inverse.navbar-fixed-top{background-color:#7BAFD4;color:black;}
.navbar-header{background-color:#7BAFD4;color:#000000;}
.navbar-toggle{background-color:#7BAFD4;}
.navbar-nav{background-color:#7BAFD4;}
.nav{background-color:#7BAFD4;}
.navbar-inverse{border-color:#7BAFD4;}
a.navbar-brand{color:black;}
.footer.text-center{color:white;}